.profile {
  overflow-x: hidden;
}
.bg_img_container {
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.bg_img_container > .gray {
  height: 50vh;
  background-color: orangered;
}

.bg_img_container > .white {
  height: 10vh;
  background-color: rgb(248, 249, 250);
}

.profile-header {
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 25vh;
  z-index: 1;
}

.bg_img_container.container > .flex-row > .col-md-3 > .profile-pic {
  display: flex;
}

#dropdownUser,
.profileName {
  color: white;
}

#dropdownUser.dropdown-toggle::after {
  font-size: calc(1.375rem + 1.5vw);
}

#dropdownUserMenu {
  width: 120px;
}

.profile_content {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 60vh;
  left: 0;
  width: 100%;
  background-color: rgb(248, 249, 250);
}
