.sell-header > div > h4 {
  font-size: 1.5em;
  font-weight: 900;
}
.sell-header > div > span {
  color: gray;
}
.sell-content > .tab-content {
  min-height: 350px;
  border: 1px solid #ddd;
}

.sell-content > .nav > .nav-item {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  padding-right: 10px;
}

.sell-tab {
  border: 1px solid #ddd;
  border-radius: 1rem;
  background-color: #eaeaea !important;
  height: 40px;
  padding: 10px 15px;
}

.nav-link.sell-tab.active {
  background-color: white !important;
  border: 1px solid #ddd;
  border-top: 2px solid orangered;
  position: relative;
  top: 1px;
  border-bottom: 0px;
  border-radius: 0px;
  margin: auto;
  color: black;
  height: 50px;
}

.sell-divider {
  width: "100%";
  height: 2px;
  margin: 2em auto 0.5em auto;
}

.sell-content-body > .title {
  font-size: 18px;
  font-weight: 600;
}
.sell-content-body > .desc {
  font-size: 14px;
  color: gray;
  text-align: left;
}

.sell-content-body > .list-group {
  min-height: 220px;
}

.sell-content-body > .list-group > .list-group-item {
  padding: 0.5em;
  height: 2.5em;
}

.list-item-link {
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.list-item-link:hover {
  color: white;
  background-color: orangered;
}

#searchCategory,
#searchProduct,
#searchCode,
#addCategory {
  background-color: orangered;
  border: orangered;
}
