.sidebar {
  height: 90vh;
}

.sidebar-icon {
  width: 16px;
  height: 16px;
  margin: 0 1em;
  font-size: 1.4em;
  align-self: center;
}

.sidebar > .d-flex > .nav > li > .nav-link {
  width: 100%;
  font-size: 24;
  margin-bottom: 2px;
}

.sidebar > .d-flex > .nav > li > .nav-link.active {
  background: orangered;
}

.sidebar > .d-flex > .nav > li > .nav-link:hover {
  background-color: orangered;
  color: white;
  font-size: 32;
}
