* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.page {
  margin-top: 75px;
  background-color: rgb(248, 249, 250);
  height: auto;
  min-height: 90vh;
  padding-bottom: 2em;
}
.logo {
  font-family: Redressed, cursive;
  color: orange;
  font-size: 24px;
}

.nav-link:hover {
  color: orangered;
  background-color: white;
}

.intro-section {
  min-height: 100vh;
  border-bottom-right-radius: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.intro-section:before {
  content: "";
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.intro-section h1 {
  margin-top: 15vh;
  font-size: 45px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.intro-section .title {
  margin-top: 35vh;
  font-size: 60px;
}
.desc {
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 20px;
  font-size: 20px;
}
.a_btn {
  background: orange;
  color: white;
  font-size: 22px;
  border-color: orange;
  cursor: pointer;
  min-width: 150px;
}
.a_btn:hover {
  background: orangered;
  color: white;
  border-color: orange;
}

@media screen and (max-width: 648px) {
  .intro-section {
    height: auto;
  }
  .intro-section:before {
    height: max-content;
    min-height: none;
  }
}
